{% extends 'base.html' %}

{% block title %}Delete Ingredient{% endblock %}

{% block content %}

{%if request.user.is_authenticated and request.user == creator %}

<h2 align="center">Delete {{ user_ingredient.Ingredient }}?</h2>

<form method="POST" action="">
{% csrf_token %}
Are you sure you want to delete this ingredient? 
<input type="submit" value="Yes"/>
<a href="/ingredients/{{ user_ingredient.id }}/">Cancel </a>
</form>
{% endif %}

{%if request.user != creator %}
<h1>You cannot delete this entry</h1>
{% endif %}


{% endblock %}