{% extends 'base.html' %}

{% block title %}Delete Ingredient{% endblock %}

{% block content %}

{%if request.user.is_authenticated and request.user == creator %}

<h2 align="center">Delete {{ user_ingredient.ingredient }}?</h2><br>

<form method="POST" action="" align="center">
{% csrf_token %}
Are you sure you want to delete this ingredient? 
<button type="submit"  value="Yes" class="save btn btn-success">Yes</button>
<a href="{% url 'expiring_user_ingredient_list' %}" <span>Cancel</span></a>
</form>
{% endif %}

{%if request.user != creator %}
<h1 align="center">You cannot delete this entry</h1>
{% endif %}


{% endblock %}