{% extends 'base.html' %}

{% block title %}My Ingredients{% endblock %}

{% block content %}
<div class="container">
    <h2 align="center">My Ingredients</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Quantity</th>
                <th scope="col">Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for user_ingredient in user_ingredients %}
            <tr>
                <td>{{ user_ingredient.ingredient__name }}</td>
                <td>{{ user_ingredient.sumqty }} {{ user_ingredient.ingredient__quantity_units }}</td>
                <td>{{ user_ingredient.exp_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container">
    <a class="btn btn-success" href="{% url 'add_user_ingredient' %}" role="button">Add</a>
</div>
{% endblock %}
