{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}

{% load static %}
<script src="{% static "js/filter.js" %}"></script>

<div class="container">
    <h2 align="center">Recipes</h2>

    {% if recipes %}
    <form class="form-inline justify-content-center">
        <div class="form-group ">
            <input id="filter-input" class="form-control " placeholder="Keyword Filter" />
            &nbsp;&nbsp;
            <select class="form-control" id="category-filter">
                <option>(All Categories)</option>
                {% for category in categories %}
                <option>{{ category }}</option>
                {% endfor %}
            </select>

            <div class="form-check-inline">
                &nbsp;&nbsp;
                <label class="form-check-label">
                    <input id="favorites-filter" type="checkbox" class="form-check-input" value="">Favorites Only
                </label>
            </div>
        </div>
    </form><br>

    <table class="table header-fixed">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Prep Time (mins)</th>
                <th scope="col">Cook Time (mins)</th>
                <th scope="col">Yield (servings)</th>
                <th scope="col">Details</th>
                <th scope="col">Favorite</th>
            </tr>
        </thead>
        <tbody id="recipe-table-body">
            {% for recipe in recipes %}
            <tr class="recipe-table-row">
                <th scope="row">{{ recipe.name }}</th>
                <td>{{ recipe.category }}</td>
                <td>{{ recipe.prep_time }}</td>
                <td>{{ recipe.cook_time }}</td>
                <td>{{ recipe.servings }}</td>
                <td>
                    <button type="button" class="btn btn-default" style="background:none">
                        <a href="/recipes/{{ recipe.id }}">
                            <span class="fas fa-info-circle" style="color:#000000;"></span>
                        </a>
                    </button>

                </td>
                <td>
                    <button name="favorite" value="{{ recipe.id }}" type="button" class="btn btn-default"
                        style="background:none">
                        <span name="fave_icon"
                            class="fa-heart {% if recipe.id in my_faves %}fas{% else %}far{% endif %}"
                            style="color:#000000;"></span></a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div align="center" class="alert alert-info"><span class="far fa-sad-tear"></span> No known recipes</div>

    {% endif %}
</div>
{% endblock %}