{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}
<div class="container">
    <h2 align="center">Recipes</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Prep Time (mins)</th>
                <th scope="col">Cook Time (mins)</th>
                <th scope="col">Yield (servings)</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <th scope="row">{{ recipe.id }}</th>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.category }}</td>
                <td>{{ recipe.prep_time }}</td>
                <td>{{ recipe.cook_time }}</td>
                <td>{{ recipe.servings }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container">
    <a class="btn btn-primary" href="{% url 'add_recipe' %}" role="button">Add</a>
</div>
{% endblock %}