{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container" align="center">
    <h2>Search for a Recipe</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="row">
            <div class="col"><span class="float-right">{{ field.label_tag }}</span></div>
            <div class="col"><span class="float-left">{{ field }}</float-left></div>
        </div>
        {% endfor %}
        <button type="submit" name="recommend" class="btn btn-success m-1">Recommend</button>
        <button type="submit" name="lucky" class="btn btn-success" ><span class="fas fa-dice"></span> I'm Feeling Lucky</button>
        </button>
    </form>

    <div class="m-3">
        {% for field in form.visible_fields %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
